extends ../../layout/default

block head
  title Verification Required

block neck
  link(rel='stylesheet', href='/views/account/verification/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/account/verification/index.min.js?#{cacheBreaker}')

block body
  include ../../layout/navbar

  div.container(style='padding-top: 120px;')
    div.row
      div.col-sm-6
        div.page-header
          h1 會員認證
        div.alert.alert-warning 請檢查您的信箱，以完成最後的註冊認證程序。
        div#verify
      div.col-sm-6.special
        div.page-header
          h1 需要驗證您的註冊信箱
        i.fa.fa-key.super-awesome

  script(type='text/template', id='tmpl-verify')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | 認證信已重寄。
        |<% } %>
      |<% if (!success) { %>
      div(class!='not-received<%= !keepFormOpen ? "" : " not-received-hidden" %>')
        a.btn.btn-link.btn-resend 我已檢查垃圾信夾，還是沒收到認證信。
      div(class!='verify-form<%= keepFormOpen ? "" : " verify-form-hidden" %>')
        div.form-group(class!='<%- errfor.email ? "has-error" : "" %>')
          label.control-label 您的 Email:
          input.form-control(type='text', name='email', value!='<%= email %>')
          span.help-block <%- errfor.email %>
        div.form-group
          button.btn.btn-primary.btn-verify(type='button') 重新傳送認證信
      |<% } %>

  script(type='text/template', id='data-user') !{data.user}
