.footer.bottom-menu.bottom-menu-inverse
  .container
    .row
      .col-md-1.col-xs-2
      .col-md-6.hidden-xs.hidden-sm
      .col-md-2.col-xs-6
      .col-md-3
        ul.bottom-links
          &#169; #{copyrightYear} #{copyrightName}
