meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

link(rel="icon", href='#{cdnServer}/images/moko365/mfavpng.ico', type='image/x-icon')
link(rel="shortcut icon", href='#{cdnServer}/images/moko365/mfavpng.ico', type='image/x-icon')

meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
meta(name='apple-mobile-web-app-status-bar-style', content='black')
